@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --main-color: #608BC1;
    --second-color: #CBDCEB;
    --dark-second-color: #133E87;
    --text-color: #fcfaee;
    --shadow-color: rgba(255, 255, 255, 0.2);
    --black-shadow: rgba(0, 0, 0, 0.2);
    --darker-shadow-color: rgba(255, 255, 255, 0.8);
    --star: #ffe600;
    --comment: #979797;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("assets/imgs/main-images/comida.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
    
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--second-color);
            background-image:
            repeating-linear-gradient(
                to right, transparent 0 100px,
                #25283b22 100px 101px
            ),
            repeating-linear-gradient(
                to bottom, transparent 0 100px,
                #25283b22 100px 101px
            );
}

#feat {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--main-color);
            background-image:
            repeating-linear-gradient(
                to right, transparent 0 100px,
                #25283b22 100px 101px
            ),
            repeating-linear-gradient(
                to bottom, transparent 0 100px,
                #25283b22 100px 101px
            );
}

#ava {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--text-color);
}

#contact {
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 100px,
        #25283b22 100px 101px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 100px,
        #25283b22 100px 101px
    );
}