.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--shadow-color);
    backdrop-filter: blur(10px);
    border: 2px solid var(--darker-shadow-color);
	box-shadow: 0px 0px 19px 5px var(--black-shadow);
}

.left{
	background: url("../imgs/main-images/comida2.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.contact h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.field {
    width: 100%;
    border: 2px solid var(--shadow-color);
    outline: none;
    background-color: var(--shadow-color);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    resize: none;
}

.field:hover{
	background-color: var(--black-shadow);
}

textarea{
	min-height: 150px;
}


.field:focus{
    border: 2px solid var(--main-color);
    background-color: var(--text-color);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-box {
        grid-template-columns: 1fr;
        max-width: 100%;
        padding: 20px;
    }

    .left {
        height: 200px;
    }

    .right {
        padding: 20px;
    }

    .field {
        font-size: 1rem;
        padding: 0.5rem;
    }

    textarea {
        min-height: 100px;
    }
}